project_id            = "my-project"
credentials_file_path = "/path/to/my/credentials.json"
region                = "northamerica-northeast1"
zone                  = "northamerica-northeast1-c"

# cloud build
github_repo_owner     = "Neutrollized"
github_repo_name      = "hashicorp-vault-with-cloud-run"
cloudrun_service_name = "myvault"

# vault
vault_server_config = "./cloud-run/vault-server.hcl"
